<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <!--<li><a href="#">How it works</a></li>-->
            <!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
            <!--<li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <p>Copyright &copy; by <a href="http://www.holisticda.com">Holistic Development Agency</a> 2018. All rights reserved.</p>
      </div>
      <ul class="social-icons">

        <li>
          <a href="https://www.linkedin.com/company/holisticdevelopmentagency" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
       <li>
         <a href="https://www.facebook.com/HolisticDevelopmentAgency" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
